[submodule "Commons"]
	path = Commons
	url = git@github.com:innoveworkshop/PartsCatalog.NET.git
[submodule "Libraries\\EMLParser.NET"]
	path = Libraries\\EMLParser.NET
	url = git@github.com:nathanpc/EMLParser.NET.git
